.footer {
    height: 15vh;
    background-color: #005695;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.sociais {
    display: flex;
    justify-content: space-between;
    width: 94vw;
    height: 100%;
}
.telefone {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
}
.logoSociais {
    width: 14%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.info {
    background: #232020;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 700;
    font-size: 15px;
}

@media (max-width: 390px) {
    .footer {
        height: 20vh;
    }
    .sociais {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        img {
            width: 30px;
            height: 30px;
        }
    }
    .telefone {
        font-size: 14px;
    }
    .logoSociais{
        width: 70%;
    }
    .info {
        height: 13vh;
        p {
            width: 65%;
            text-align: center;
            font-size: 13px;
        }
    }
}